# Comments

<div class="comment-form">
  <form action="https://formsubmit.co/gonsie@me.com" method="post">
    <label for="comment-form-name">Name</label>
    <input type="text" name="name" id="comment-form-name" required><br/>
    <label for="comment-form-email">Email</label>
    <input type="text" name="email" id="comment-form-email" required><br/>
    <label for="comment-form-comment">Comment</label>
    <textarea name="comment" id="comment-form-comment" required></textarea><br/>
    <input type="submit" value="Submit" />
  </form>
</div>