<div class="comment-form">
  <form action="https://api.staticforms.xyz/submit" method="post">
    <input type="hidden" name="accessKey" value="c387a536-915c-41dc-80fb-0c0cbd0378b3">
    <label for="comment-form-name">Name</label>
    <input type="text" name="name" id="comment-form-name"><br/>
    <label for="comment-form-email">Email</label>
    <input type="text" name="email" id="comment-form-email"><br/>
    <label for="comment-form-comment">Comment</label>
    <textarea name="comment" id="comment-form-comment"></textarea><br/>
    <input type="text" name="honeypot" style="display: none;">
    <input type="hidden" name="replyTo" value="gonsie@me.com">
    <input type="hidden" name="replyTo" value="@">
    <input type="submit" value="Submit" />
    <input type="hidden" name="redirectTo" value="/blorg/comment-success.html">
  </form>
</div>