<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/github-markdown.css" />
  <style>
  .markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  }
  </style>
</head>

<body>
  <div id="content">
  <article class="markdown-body">
  <h2>{{ page.title }}</h2>
  {{ content }}
  </article>
  </div>

</body>
</html>
