<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <title>Elsa & John are getting married!</title>
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Upright" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
  <link href="/css/wedding-stylesheet.css" rel="stylesheet">
</head>
<body>
  <div class="header">
    <div class="logo">
      <a href="{{ site.baseurl }}/wedding">
        <img src="/images/heart.png" height="50px"/>
        <h2>Elsa & John</h2>
      </a>
    </div>
    <nav>
      <a href="/wedding/vendors.html"
         {% if page.url == "/wedding/vendors.html" %} class="active" {% endif %}>vendors</a>
    </nav>
  </div>
  <div class="content">
  {{ content }}
  </div>
</body>
