<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <title>Elsa & John are getting married!</title>
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Upright" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
  <link href="/css/wedding-stylesheet.css" rel="stylesheet">
</head>
<body>
  <div class="nav">
    <nav>
      <div class="logo">
        <img src="/images/heart.png" class="logo" />
        <h2 align="left">Elsa & John</h2>
      </div>
      <a href="/wedding/std.html">save the date</a>
      <a href="/wedding/hotel.html">hotel</a>
    </nav>
  </div>


  {{ content }}

</body>
